.modal {
    align-items:center;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    height: 560vh;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .container {
        align-items: center;
        background-color: #fff;
        color: #041E50;
        display: flex;
        height: 20rem;
        width: 50rem;

        .content {
            align-items: flex-start;
            margin: 45px 0;

            p {
                color: #222222;
            }
        }

        

        .close {
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            outline: none;
            height: 20px;
            position: relative;
            right: calc(-800px + 64px);
            top: -125px;
            width: 20px;
            &:before,
            &:after {
                content: ' ';
                background-color: #707070;
                position: absolute;
                height: 24px;
                width: 2.5px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}