.title {

    display: flex;
    justify-content: center;

    h2 {
        align-self:center;
        color:#F71963;
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0;
    }
}

.container { 
        display: flex;
        flex-direction: row;
        
        justify-content: space-around;

        
    
    .images {
        
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
        

        img {
            border-radius: 50%;
            height: 200px;
            margin: 0 30px;
            width: 200px;
        }
    }
}